:root {
  --background: #808080;
  --front: #008080;
  --accents: #fffff0;
}

* {
  background-color: var(--background);
}

/* The following all pertains to the header. */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--front);
  height: 70px;
}

.button {
  background-color: var(--accents);
}

header .button {
  align-content: center;
  justify-content: space-between;
  height: 40px;
  width: 150px;
  border-radius: 10px;
}

header h1 {
  align-content: center;
  padding-left: 20px;
  font-size: 50px;
  background-color: var(--front);
  color: azure;
}
header ul {
  position: relative;
  background-color: var(--front);
  right: 20px;
}

.button h2,
a {
  align-content: center;
  background-color: var(--accents);
  margin-top: 5px;
  text-decoration: none;
  color: black;
}

/* Actions for the buttons */

a:hover {
  color: green;
}

/* The following is for the "About me" Section */

.aboutMe {
  container-type: inline-size;
  width: 100%;
  height: 200px;
  margin-inline: auto;
  display: flex;
  gap: 1rem;
  padding: 10px;
}

.aboutMe h2 {
  width: 30%;
  align-content: center;
  padding: 10px;
  border-right: 10px solid navy;
  border-radius: 10px;
}

.aboutMe p {
  align-content: center;
  font-size: x-large;
  flex-shrink: 1;
}

/* Article pertaining to projects */

.projects {
  container-type: inline-size;
  width: 100%;
  height: auto;
  margin-inline: auto;
  display: flex;
  gap: 1rem;
  padding: 10px;
}

.projects h2 {
  width: 10%;
  align-content: center;
  padding: 10px;
  border-right: 10px solid navy;
  border-radius: 10px;
}

.container {
  container-type: normal;
}
.card {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 1050px) {
  header,
  article,
  ul {
    height: auto;
    flex-direction: column;
    align-content: center;
  }
}
